<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseURL</key>
	<string>wss://s14487.blr1.piesocket.com/v3/1?api_key=Sfn4V7tjQ1Ctgx9nVBje6gLTmbhQIFJKMIpWzELQ&amp;notify_self=1</string>
</dict>
</plist>
